[submodule "social-app-server"]
    path = social-app-server
    url = git@github.com:kamrul1157024/social-app-server.git

[submodule "social-app-client"]
    path = social-app-client
    url = git@github.com:kamrul1157024/social-app-client.git